*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    display: flex;
    background: #1A4D2E;
    top: 0;
    z-index: 1;
    position: sticky;
    align-items: center;
}

.header .logo{
    width: 100%;
    display: flex;
}

#udm-logo{
    width: 40px;
    height: 40px;
}

.logout a i{
    font-size: 23px;
}

.navigation{
    width: 250px;
    height: 100vh;
    background: #ffffca;
    position: fixed; /* Keep sidebar fixed */
    padding-top: 20px;

}

.user-icon img{
    width: 50px;
    height: 50px;
}

.main-content{
    margin-left: 20%;
    height: 100vh;
}


.search-bar #search{
    border-radius: 20px;
    border-right: 1px solid #5e5d5d;
    box-shadow: #bbbaba 3px 2px 1px;
    background: white;
    height: 35px;
    width: 200px;
    padding-left: 30px;
}

.search-bar i{
    position: absolute;
}

.dropdown-center .btn{
    width: 160px;
}

.banner{
    margin-left: 20%;
    height: 70px;
    width: 80%;
    padding: 10px;
   
}

.employee-table .table{
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-header{
    margin-left: 18%;
}

.card-container{
    margin-left: 19%;

}

.card-content{
    width: 700px;
}

.card-body{
    height: fit-content;
    background: #087a34;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 8px 0px;
 
}

.card-body p{
    color: white;
    line-height: 1;
}

.chart{
    margin-left: 22%;
    width: 300px;
    height: 300px;
}

.dept-chart{
    width: 720px;
    height: 320px;
}

.container-fluid{
    background-image: url('../assets/image/UdmBackground.png'); /* Replace with your image path */
    background-size: center;  /* Cover the entire page */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat;  /* Prevent repeating */
    height: 100vh;
}

#username, #pass{
    padding-left: 45px;
}

#username::placeholder, #pass::placeholder {
    padding-left: 5px;
}

form{
    background: white;
    box-shadow: rgba(77, 76, 76, 0.35) 0px 5px 15px 8px;
}

.container-fluid form .btn{
    background: #1A4D2E;
    color: white;
}

footer {
    height: fit-content;
    background-color: #1A4D2E;
    padding: 5px;
    text-align: center;
}
